#### 이직여부 판단 데이터
이직여부 판단 데이터 (target: 1: 이직 , 0 : 이직 x)

##### 풀이(1)

In [2]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")


display(x_train.head())
display(y_train.head())

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

In [3]:
x_train.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    2917
relevent_experience          0
enrolled_university        257
education_level            315
major_discipline          1866
experience                  37
company_size              3852
company_type              3981
last_new_job               273
training_hours               0
dtype: int64

In [4]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [16]:
x_train.describe()

       city_development_index  training_hours
count            12452.000000    12452.000000
mean                 0.829709       65.604481
std                  0.123087       60.430340
min                  0.448000        1.000000
25%                  0.740000       23.000000
50%                  0.910000       47.000000
75%                  0.920000       88.000000
max                  0.949000      336.000000

In [5]:
x_train = x_train.drop(columns=['enrollee_id', 'city'], axis=1)
x_test = x_test.drop(columns=['enrollee_id', 'city'], axis=1)
y = y_train['target']

In [6]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)
x_test = x_test[x_train.columns]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

X_train, X_test, y_train, y_test = train_test_split(x_train, y, test_size=0.3, random_state=97)

In [13]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [14]:
rf.predict(X_test)

array([0., 0., 0., ..., 1., 0., 0.])

In [15]:
print('훈련 정확도 : ', accuracy_score(y_train, rf.predict(X_train)))
print('검증 정확도 : ', accuracy_score(y_test, rf.predict(X_test)))
print('\n')
print('훈련 정확도 : ', roc_auc_score(y_train, rf.predict_proba(X_train)[:,1]))
print('검증 정확도 : ', roc_auc_score(y_test, rf.predict_proba(X_test)[:,1]))

훈련 정확도 :  0.9988526847177605
검증 정확도 :  0.7874732334047109


훈련 정확도 :  0.999996602351873
검증 정확도 :  0.7921109322653577

In [ ]:
rf.predict(x_test)

array([1., 0., 1., ..., 0., 0., 0.])

In [ ]:
pd.DataFrame({'enrollee_id' : x_test.enrollee_id, 'target' : rf.predict(x_test)}).to_csv('000000000.csv', index=False)

##### 풀이(2)

In [ ]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")


display(x_train.head())
display(y_train.head())

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

In [ ]:
x_train.drop(columns=['enrollee_id', 'city'], inplace=True)
x_test.drop(columns=['enrollee_id', 'city'], inplace=True)

In [ ]:
# 성별 전처리
# 결측치 Other로 채워줌

x_train.gender.fillna('Other', inplace=True)
x_test.gender.fillna('Other', inplace=True)

In [ ]:
# Label encoding

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

cols = ['enrolled_university', 'education_level', 'major_discipline', 'company_type']

for i in cols:
    x_train[i] = encoder.fit_transform(x_train[i])
    x_test[i] = encoder.transform(x_test[i])

In [ ]:
# experience 전처리
# 20 초과값은 21, 1 미만값은 0으로 변경

x_train.experience.replace('>20', 21, inplace=True)
x_train.experience.replace('<1', 0, inplace=True)
x_test.experience.replace('>20', 21, inplace=True)
x_test.experience.replace('<1', 0, inplace=True)

In [ ]:
# 결측치는 x_train의 평균으로 채워준 후에 데이터 타입 int로 변경

experience_mean = int(x_train[x_train.experience.isnull() != True].experience.astype('int64').mean())

In [ ]:
x_train.experience.fillna(experience_mean, inplace=True)
x_test.experience.fillna(experience_mean, inplace=True)
x_train.experience = x_train.experience.astype('int64')
x_test.experience = x_test.experience.astype('int64')

In [ ]:
# company_size 전처리
# 구간별 데이터를 정수형으로 값 변경

x_train['company_size_Encoder'] = x_train.company_size.map({
    '10000+' : 8,
    '5000-9999' : 7,
    '1000-4999' : 6,
    '500-999' : 5,
    '100-599' : 4,
    '50-99' : 3,
    '10/49' : 2,
    '<10' : 1
})

x_train.company_size_Encoder.fillna(0, inplace=True)
x_train.drop(columns='company_size', inplace=True)

x_test['company_size_Encoder'] = x_test.company_size.map({
    '10000+' : 8,
    '5000-9999' : 7,
    '1000-4999' : 6,
    '500-999' : 5,
    '100-599' : 4,
    '50-99' : 3,
    '10/49' : 2,
    '<10' : 1
})

x_test.company_size_Encoder.fillna(0, inplace=True)
x_test.drop(columns='company_size', inplace=True)

In [ ]:
# last_new_job 전처리
# 4 초과값은 5, never은 0으로 값 변경
# 결측치는 0으로 값 변경

x_train.last_new_job.fillna(0, inplace=True)
x_test.last_new_job.fillna(0, inplace=True)

x_train.last_new_job.replace('>4', 5, inplace=True)
x_test.last_new_job.replace('>4', 5, inplace=True)

x_train.last_new_job.replace('never', 0, inplace=True)
x_test.last_new_job.replace('never', 0, inplace=True)

x_train.last_new_job = x_train.last_new_job.astype('int64')
x_test.last_new_job = x_test.last_new_job.astype('int64')

In [ ]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_development_index  12452 non-null  float64
 1   gender                  12452 non-null  object
 2   relevent_experience     12452 non-null  object
 3   enrolled_university     12452 non-null  int32
 4   education_level         12452 non-null  int32
 5   major_discipline        12452 non-null  int32
 6   experience              12452 non-null  int64
 7   company_type            12452 non-null  int32
 8   last_new_job            12452 non-null  int64
 9   training_hours          12452 non-null  int64
 10  company_size_Encoder    12452 non-null  float64
dtypes: float64(2), int32(4), int64(3), object(2)
memory usage: 875.7+ KB

In [ ]:
# 더미화

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

y = y_train['target']
X_train, X_test, y_train, y_test = train_test_split(x_train, y, test_size=0.1, random_state=42)

rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
from sklearn.metrics import accuracy_score, roc_auc_score

print("Accuracy Score")
print("훈련 정확도: ", accuracy_score(y_train, rf.predict(X_train)))
print("검증 정확도: ", accuracy_score(y_test, rf.predict(X_test)))
print('\n')
print('ROC-AUC Score')
print("훈련 정확도: ", roc_auc_score(y_train, rf.predict_proba(X_train)[:,1]))
print("검증 정확도: ", roc_auc_score(y_test, rf.predict_proba(X_test)[:,1]))

Accuracy Score
훈련 정확도:  0.9985721934677851
검증 정확도:  0.78330658105939


ROC-AUC Score
훈련 정확도:  0.9999829637864547
검증 정확도:  0.7772711607389027

In [ ]:
rf.predict(x_test)
rf.predict_proba(x_test)[:,1]

array([0.65, 0.52, 0.3 , ..., 0.08, 0.36, 0.56])

In [ ]:
# 답안 파일 제출

pd.DataFrame({'enrollee_id' : x_test.enrollee_id, 'target' : rf.predict(x_test)}).to_csv('000000000.csv', index=False)