#### 자동차 보험가입 예측 데이터
데이터 설명 : 자동차 보험 가입 예측 (종속변수 Response: 1 : 가입 , 0 :미가입)

In [29]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,id
0,0,Female,23,1,8.0,0,< 1 Year,Yes,61354.0,152.0,235,NaN
1,1,Male,27,1,28.0,1,< 1 Year,No,38036.0,152.0,207,NaN
2,2,Female,23,1,45.0,0,< 1 Year,Yes,25984.0,152.0,217,NaN
3,3,Male,22,1,46.0,0,< 1 Year,No,39499.0,152.0,277,NaN
4,4,Male,32,1,30.0,1,< 1 Year,No,38771.0,152.0,251,NaN

   ID  Response
0   0         0
1   1         0
2   2         1
3   3         0
4   4         0

In [30]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304887 entries, 0 to 304886
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    304887 non-null  int64
 1   Gender                304887 non-null  object
 2   Age                   304887 non-null  int64
 3   Driving_License       304887 non-null  int64
 4   Region_Code           304887 non-null  float64
 5   Previously_Insured    304887 non-null  int64
 6   Vehicle_Age           304887 non-null  object
 7   Vehicle_Damage        304887 non-null  object
 8   Annual_Premium        304887 non-null  float64
 9   Policy_Sales_Channel  304887 non-null  float64
 10  Vintage               304887 non-null  int64
 11  id                    0 non-null       float64
dtypes: float64(4), int64(5), object(3)
memory usage: 27.9+ MB

In [31]:
x_train.Driving_License.unique()

array([1, 0], dtype=int64)

In [32]:
drop_cols = ['ID', 'id']

x_train_drop = x_train.drop(columns=drop_cols, axis=1)
x_test_drop = x_test.drop(columns=drop_cols, axis=1)

x_train_dummy = pd.get_dummies(x_train_drop)
x_test_dummy = pd.get_dummies(x_test_drop)
y = y_train['Response']

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

X_train, X_val, y_train, y_val = train_test_split(x_train_dummy, y, test_size=0.8, random_state=43)

rf = RandomForestClassifier()
xgb = XGBClassifier()

In [34]:
rf.fit(X_train, y_train)
#xgb.fit(X_train, y_train)

RandomForestClassifier()

In [35]:
# 랜덤 포레스트
# 모델 성능 평가
print(accuracy_score(y_train, rf.predict(X_train)))
# 검증
print(accuracy_score(y_val, rf.predict(X_val)))

0.9999344014956459
0.8669919232503792

In [ ]:
# XGBoost
# 모델 성능 평가
print(accuracy_score(y_train, xgb.predict(X_train)))
# 검증
print(accuracy_score(y_val, xgb.predict(X_val)))

In [39]:
pd.DataFrame({'ID' : x_test.ID, 'Response' : rf.predict(x_test_dummy)}).to_csv('000000000.csv', index=False)

In [40]:
result = pd.read_csv('./000000000.csv')
result

           ID  Response
0          17         0
1          19         0
2          21         0
3          23         0
4          32         0
...       ...       ...
76217  381091         0
76218  381097         0
76219  381102         0
76220  381105         0
76221  381108         1

[76222 rows x 2 columns]