- 몰랐던 부분
  - resample()의 사용

- 풀이 오류
  - Week 컬럼을 새로 만들어 주차별로 그룹화를 해서 계산 > 1/1과 1/2가 작년도 52주차로 설정되어 주 단위 합계 계산 시 오류 발생함.

  ```py
    
    df['Week'] = df.Date.dt.week
    df2 = df.groupby('Week').sum()
    abs(df2.Sales.max() - df2.Sales.min())

  ```

### 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

df = pd.read_csv('/kaggle/input/bigdatacertificationkr/basic2.csv')
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [2]:
# Date의 데이터 타입을 datetime으로 변경

df.Date = pd.to_datetime(df.Date)

In [3]:
# 인덱스를 Date로 설정

df = df.set_index(['Date'])
df

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0
...              ...     ...     ...     ...
2023-12-27  33846609  415067  7360.0       1
2023-12-28   3659566  208601  2262.0       1
2023-12-29   1164008   14309   193.0       0
2023-12-30   3977696   60935     NaN       0
2023-12-31   3719764   60963  1507.0       0

[730 rows x 4 columns]

In [4]:
# 데이터를 주 단위로 resample

df_w = df.resample('W').sum()
df_w

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1
...              ...      ...      ...     ...
2023-12-03  47120909   884734  12086.0       2
2023-12-10  46398053   975024  21872.0       3
2023-12-17  20763518   291261  17221.0       0
2023-12-24  34528035   901451  11732.0       2
2023-12-31  51435189   813019  12168.0       2

[105 rows x 4 columns]

In [5]:
abs(df_w.Sales.max() - df_w.Sales.min())

91639050

### 풀이

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", parse_dates=['Date'], index_col=0)

# 아래 코드를 한줄로 표현함
# df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.set_index('Date')

In [8]:
print(df.shape)
df.head(3)

(730, 4)

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1

In [9]:
df.tail(3)

              Sales     PV      UV  Events
Date
2023-12-29  1164008  14309   193.0       0
2023-12-30  3977696  60935     NaN       0
2023-12-31  3719764  60963  1507.0       0

### 단위 
- 주 단위 W
- 2주 단위 2W
- 월 단위 M

In [10]:
df_w = df.resample('W').sum()
df_w.head()

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1

In [11]:
ma = df_w['Sales'].max()
ma

99165648

In [12]:
mi = df_w['Sales'].min()
mi

7526598

In [13]:
print(ma - mi)

91639050