### 2022년 5월 sales의 중앙값을 구하시오

- 데이터셋 : basic2.csv 
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [15]:
import pandas as pd

df = pd.read_csv('/kaggle/input/bigdatacertificationkr/basic2.csv')
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

In [16]:
# Date의 데이터 타입 확인

df.Date.dtype

dtype('O')

In [17]:
# Date의 데이터 타입을 datetime으로 변경
df.Date = pd.to_datetime(df.Date)
df.Date.dtype

dtype('<M8[ns]')

In [18]:
# 문제를 풀기 위해 Year와 Month를 따로 구하여 새롭게 column 생성
df['Year'] = df.Date.dt.year
df['Month'] = df.Date.dt.month

          Date     Sales      PV      UV  Events  Year  Month
0   2022-01-01  22711525  397349  4421.0       1  2022      1
1   2022-01-02     36779    3969  2289.0       0  2022      1
2   2022-01-03  13943875  373890     NaN       1  2022      1
3   2022-01-04   8088593  142054  2157.0       0  2022      1
4   2022-01-05   2395374  190684     NaN       0  2022      1
..         ...       ...     ...     ...     ...   ...    ...
725 2023-12-27  33846609  415067  7360.0       1  2023     12
726 2023-12-28   3659566  208601  2262.0       1  2023     12
727 2023-12-29   1164008   14309   193.0       0  2023     12
728 2023-12-30   3977696   60935     NaN       0  2023     12
729 2023-12-31   3719764   60963  1507.0       0  2023     12

[730 rows x 7 columns]

In [20]:
# 2022년 5월 Sales의 중앙값 구하기
df[(df.Year == 2022) & (df.Month == 5)].Sales.median()

1477685.0