## 이상치를 찾아라(소수점 나이)
### 주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오

- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- 강의 영상 : https://youtu.be/c3Fr9G-ZYdw

In [7]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [14]:
# 소수점 데이터 찾기

df = df[(df['age']-np.floor(df['age']))!= 0]
df

      id   age city    f1  f2   f3    f4         f5
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
21  id22  -6.3   부산  72.0   1  NaN  ENFP  52.667078
28  id29 -13.5   부산  47.0   2  NaN  ENTP  67.886373
46  id47  34.6   대구  75.0   1  NaN  ESTJ  90.496999
64  id65  26.5   경기   NaN   0  NaN  ISFP  91.297791
84  id85  83.6   경기  55.0   0  NaN  INFJ  80.138280
92  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397

In [17]:
# 이상치를 포함한 데이터 올림, 내림, 버림의 평균값 

df_ceil_avg = np.ceil(df.age).mean()
df_floor_avg = np.floor(df.age).mean()
df_trunc_avg = np.trunc(df.age).mean()

df_ceil_avg, df_floor_avg, df_trunc_avg

(23.75, 22.75, 23.0)

In [18]:
# 평균값 더한 다음 출력

df_ceil_avg + df_floor_avg + df_trunc_avg

69.5

## Hint
- import numpy as np
- 올림: np.ceil()
- 내림: np.floor()
- 버림: np.trunc()

### 쉬어가기 : 내림과 버림의 차이는??
- 양수에서는 같지만 음수에서는 -5.5에서 내림을 하면 -6, 버림을하면 -5가 된다.