## basic1 데이터에서 f4가 E로 시작하면서 부산에 살고 20대인 사람은 몇 명일까요?

In [24]:
import pandas as pd

df = pd.read_csv('/kaggle/input/bigdatacertificationkr/basic1.csv')

# f4가 'E'로 시작하는 데이터 찾기
df1 = df[df.f4.str[0] == "E"]

# 부산에 사는 사람 찾기
df2 = df1[df1.city == '부산']

# 20대인 사람 찾기
df3 = df2[(df2.age >= 20) & (df2.age <30)]
len(df3)

0

### 풀이

In [20]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df['EI'] = df['f4'].str[:1]
cond1 = df['EI'] == "E"
cond2 = df['city'] == "부산"
cond3 = (df['age'] >= 20) & (df['age'] < 30)

print(len(df[cond1 & cond2 & cond3]))

0