##### 월드컵 출전 선수 골 기록 데이터

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

21. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [2]:
df[['Country', 'Goals']].groupby('Country').agg('sum').sort_values('Goals', ascending=False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

22. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [3]:
df['PlayerCnt'] = 1
df[['PlayerCnt', 'Country', 'Goals']].groupby('Country').agg('sum').sort_values('PlayerCnt', ascending=False).head()

           PlayerCnt  Goals
Country
Brazil            81    228
Germany           78    226
Italy             60    123
Argentina         59    135
France            58    115

23. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [4]:
df.loc[df.Years == '0'].PlayerCnt.sum()

45

In [5]:
df['yearLst'] = df.Years.str.split('-')
df

,Player,Goals,Years,Country,PlayerCnt,yearLst
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,1,"[2002, 2006, 2010, 2014]"
1,Ronaldo,15,1998-2002-2006,Brazil,1,"[1998, 2002, 2006]"
2,Gerd Muller,14,1970-1974,Germany,1,"[1970, 1974]"
3,Just Fontaine,13,1958,France,1,[1958]
4,Pele,12,1958-1962-1966-1970,Brazil,1,"[1958, 1962, 1966, 1970]"
...,...,...,...,...,...,...
1290,Josip Skoblar,1,1962,Yugoslavia,1,[1962]
1291,Safet Susic,1,1982-1990,Yugoslavia,1,"[1982, 1990]"
1292,Aleksandar Tirnanic,1,1930,Yugoslavia,1,[1930]
1293,Djordje Vujadinovic,1,1930,Yugoslavia,1,[1930]
1294,Branko Zebec,1,1954-1958,Yugoslavia,1,"[1954, 1958]"

24. **Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다) **

In [6]:
df2 = df.loc[df.Years != '0'].reset_index(drop=True)
df2.shape[0]

1250

25. 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [7]:
df2['LenCup'] = df2.yearLst.str.len()
df2.loc[df2.LenCup == 4].shape[0]

16

In [8]:
df2.LenCup.value_counts()[4]

16

26. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [9]:
df2.loc[(df2.LenCup == 2) & (df2.Country == 'Yugoslavia')].shape[0]

7

27. 2002년도에 출전한 전체 선수는 몇명인가?

In [10]:
df2.loc[df2.Years.str.contains('2002')].shape[0]

156

28. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [11]:
df2.loc[df2.Player.str.lower().str.contains('carlos')].shape[0]

13

29. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [12]:
df2.loc[df2.LenCup == 1].sort_values('Goals', ascending=False).Player.values[0]

'Just Fontaine'

30. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [13]:
ww = df2.loc[df2.LenCup == 1]
ww[['Country', 'LenCup']].groupby('Country').agg('sum').sort_values('LenCup', ascending=False).LenCup.index[0]

'Brazil'

In [14]:
df2[df2.LenCup==1].Country.value_counts().index[0]

'Brazil'