##### 전세계 행복도 지표 데이터

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

41. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [2]:
df.loc[df.행복랭킹 == 10].점수.mean()

7.259

42. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [3]:
#df[df.행복랭킹 <= 50][['나라명', '점수']].groupby(['나라명']).mean()
df[df.행복랭킹 <= 50][['점수', '년도']].groupby('년도').agg('mean')

           점수
년도
2018  6.64678
2019  6.67002

43. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [4]:
df[df.년도 == 2018][['점수', '부패에 대한인식']].corr().iloc[0,1]

0.40529152271510027

44. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [5]:
len(df[['행복랭킹', '나라명']]) - len(df[['행복랭킹', '나라명']].drop_duplicates())

15

45. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [6]:
#df[df['년도']==2019].corr().unstack().to_frame().reset_index().dropna()

df1 = df[df['년도'] == 2019]
df2 = df1.loc[:,"점수":"부패에 대한인식"].corr().unstack().to_frame().reset_index().dropna()

df3 = df2[df2[0] != 1].sort_values(0, ascending=False).drop_duplicates(0)
df3.head(5).reset_index(drop=True)

  level_0 level_1         0
0   행복기대치   상대GDP  0.835462
1      점수   상대GDP  0.793883
2   행복기대치      점수  0.779883
3   사회적지원      점수  0.777058
4   상대GDP   사회적지원  0.754906

46. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [7]:
a = df[df.년도==2018].tail()
b = df[df.년도==2019].tail()

qq = pd.merge(a, b, how='outer')
qq[['년도','점수']].groupby(['년도']).agg('mean')

          점수
년도
2018  3.1800
2019  3.1408

47. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [8]:
qq = df[df.년도==2019]
q1 = qq[qq.상대GDP >= qq.상대GDP.mean()].점수.mean()
q2 = qq[qq.상대GDP < qq.상대GDP.mean()].점수.mean()

q1 - q2

1.390483957219251

48. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [9]:
e = df[df.년도==2018].sort_values(by='부패에 대한인식', ascending=False).head(20)['부패에 대한인식'].mean()
n = df[df.년도==2019].sort_values(by='부패에 대한인식', ascending=False).head(20)['부패에 대한인식'].mean()

e, n

(0.32670000000000005, 0.3201)

In [10]:
df.sort_values(['년도', '부패에 대한인식'], ascending=False).groupby('년도').head(20).groupby('년도')[['부패에 대한인식']].agg('mean')

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

49. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [11]:
#df[(df[(df.행복랭킹 <= 50) & (df.년도 == 2018)]) & (df[(df.행복랭킹 > 50) & (df.년도 == 2019)])]
b = df[(df.행복랭킹 <= 50) & (df.년도 == 2018)].나라명
n = df[(df.행복랭킹 > 50) & (df.년도 == 2019)].나라명
pd.merge(b, n, how='inner')

        나라명
0  Malaysia
1    Kuwait
2  Thailand

In [12]:
len(set(df[(df.행복랭킹 <= 50) & (df.년도 == 2018)].나라명) - set(df[(df.행복랭킹 <= 50) & (df.년도 == 2019)].나라명))

4

50. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [13]:
df1 = df[df.년도 == 2018]
df2 = df[df.년도 == 2019]
df3 = pd.merge(df1, df2, how='inner', on='나라명')
df3['inc'] = abs(df3.점수_x - df3.점수_y)
df4 = df3[['나라명', 'inc']].sort_values('inc', ascending=False)
df4[0:1]

         나라명    inc
34  Malaysia  0.983