## 강의 영상 : https://youtu.be/Jh3rJaZlEg0

## 문제1
- 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
- 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후, 
- 'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

In [23]:
# 라이브러리 및 데이터 불러오기
import pandas as pd

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [24]:
# 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
df_f5 = df.sort_values('f5', ascending=False)
df_f5.head(10)

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
97  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
9   id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
76  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
91  id92  97.0   경기  78.0   1  NaN  INFP  97.381034
86  id87  19.0   경기   NaN   1  NaN  ISFP  97.381034
71  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034
11  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
19  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791

In [26]:
# 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,
df_f5.head(10)['f5'] = df_f5.head(10)['f5'].min()
df_f5

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  91.297791
97  id98  39.0   경기  58.0   2  NaN  INFP  91.297791
9   id10  95.0   서울  74.0   1  NaN  ISFP  91.297791
76  id77  77.0   경기  31.0   0  NaN  INFP  91.297791
98  id99   1.0   경기  47.0   0  NaN  ESFJ  91.297791
..   ...   ...  ...   ...  ..  ...   ...        ...
54  id55  75.0   대구  63.0   2  NaN  ENTP  13.049921
35  id36  68.0   부산  77.0   1  NaN  INTP  13.049921
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
90  id91   6.0   경기  72.0   0  NaN  INTP   9.796378
14  id15  22.0   서울  67.0   1  NaN  ENTP   9.796378

[100 rows x 8 columns]

In [38]:
# 'age'컬럼에서 80 이상인 데이터의 'f5' 컬럼 평균값 구하기
df_f5['f5'][df_f5['age'] >= 80].mean()

62.497747125217394

### 풀이

In [33]:
# 라이브러리 및 데이터 불러오기
import pandas as pd

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [34]:
# f5컬럼을 기준으로 내림차순 정렬
df = df.sort_values('f5', ascending=False)
df.head(10)

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
97  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
9   id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
76  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
91  id92  97.0   경기  78.0   1  NaN  INFP  97.381034
86  id87  19.0   경기   NaN   1  NaN  ISFP  97.381034
71  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034
11  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
19  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791

In [35]:
# 최소값 찾기
min = df['f5'][:10].min()
# min = 91.297791
min

91.29779092

In [36]:
df.iloc[:10,-1] = min
df.head(10)

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  91.297791
97  id98  39.0   경기  58.0   2  NaN  INFP  91.297791
9   id10  95.0   서울  74.0   1  NaN  ISFP  91.297791
76  id77  77.0   경기  31.0   0  NaN  INFP  91.297791
98  id99   1.0   경기  47.0   0  NaN  ESFJ  91.297791
91  id92  97.0   경기  78.0   1  NaN  INFP  91.297791
86  id87  19.0   경기   NaN   1  NaN  ISFP  91.297791
71  id72   8.0   경기  97.0   0  NaN  ESTJ  91.297791
11  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
19  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791

In [37]:
# 80세 이상의 f5컬럼 평균
print(df[df['age']>=80]['f5'].mean())

62.497747125217394

## 문제2
- 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
- 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
- 두 표준편차 차이 계산하기

In [62]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [63]:
# 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
df = df.iloc[:70]
df

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4   id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
..   ...   ...  ...   ...  ..  ...   ...        ...
65  id66  87.0   경기   NaN   1  NaN  ISFP  17.252986
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397
67  id68  35.0   경기  45.0   2  NaN  ISFP  67.886373
68  id69  75.0   경기  85.0   0  NaN  ESTJ  69.730313
69  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184

[70 rows x 8 columns]

In [64]:
# 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
before = df['f1'].std()
df['f1'] = df['f1'].fillna(df['f1'].median())
after = df['f1'].std()
before, after

(17.98727579865276, 14.690773995256688)

In [65]:
# 두 표준편차 차이 계산하기
print(abs(before-after))

3.2965018033960725

### 풀이

In [66]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')

In [67]:
# 데이터 나누기 방법1
data70 = df.iloc[:70]
data30 = df.iloc[70:]

# [심화학습] 데이터 나누기 방법2
# data70, data30 = np.split(df, [int(.7*len(df))])

# [심화학습] 데이터 나누기 방법3 (랜덤으로 샘플링하라고 했을 때!!)
# data70 = df.sample(frac = 0.7)
# data70 = df.drop(data70.index)

data70.tail()

      id   age city    f1  f2   f3    f4         f5
65  id66  87.0   경기   NaN   1  NaN  ISFP  17.252986
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397
67  id68  35.0   경기  45.0   2  NaN  ISFP  67.886373
68  id69  75.0   경기  85.0   0  NaN  ESTJ  69.730313
69  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184

In [68]:
## 결측치 확인
data70.isnull().sum()

id       0
age      0
city     0
f1      23
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [69]:
## 결측치 채우기 전 f1컬럼 표준편자
std1 = data70['f1'].std()
std1

17.98727579865276

In [70]:
## 중앙값 확인
med=data70['f1'].median()
med

68.0

In [71]:
## 중앙값으로 채우기
data70['f1'] = data70['f1'].fillna(med)

## 다른 방법들
# data70['f1']= data70['f1'].replace(np.nan, med)
# data70 = data70.fillna(value=med)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [72]:
## 결측치 확인
data70.isnull().sum()

id       0
age      0
city     0
f1       0
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [73]:
## 결측치를 채운 후 표준편차 구하기
std2 = data70['f1'].std()
std2

14.690773995256688

In [74]:
print(std1-std2)

3.2965018033960725

## 문제3
- 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
- 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [75]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [107]:
# 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
# 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

m = df.age.mean()
s = df.age.std()
df[(df.age < m-1.5*s) | (df.age > m+1.5*s)].age.sum()

473.5

### 풀이

In [83]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')

In [84]:
std = df['age'].std() * 1.5
mean = df['age'].mean()

min_out = mean - std
max_out = mean + std
print(min_out, max_out)

5.298862216116952 96.62713778388306

In [85]:
# 이상치 age합
df[(df['age']>max_out)|(df['age']<min_out)]['age'].sum()

# 다르게 작성방법
# df.loc[(df['age'] > max)]['age'].sum() + df.loc[(df['age']< min)]['age'].sum()

473.5