# **DataFrame**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
pd.DataFrame([[1,2,3],
              [4,5,6],
              [7,8,9]], columns=['가','나','다'])

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
data = {
    'name': ['Kim', 'Lee', 'Park'], 
    'age': [24, 27, 34], 
    'children': [2, 1, 3]
}

df = pd.DataFrame(data)
df

   name  age  children
0   Kim   24         2
1   Lee   27         1
2  Park   34         3

In [ ]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
df.columns

Index(['name', 'age', 'children'], dtype='object')

In [ ]:
df.values

array([['Kim', 24, 2],
       ['Lee', 27, 1],
       ['Park', 34, 3]], dtype=object)

In [ ]:
df.dtypes

name        object
age          int64
children     int64
dtype: object

In [ ]:
df.T

            0    1     2
name      Kim  Lee  Park
age        24   27    34
children    2    1     3

In [ ]:
df.index = list('abc')
df

   name  age  children
a   Kim   24         2
b   Lee   27         1
c  Park   34         3

In [ ]:
df['name']

a     Kim
b     Lee
c    Park
Name: name, dtype: object

In [ ]:
type(df['name'])

pandas.core.series.Series

In [ ]:
# 2개 이상의 column 선택은 fancy indexing으로 가능하다.

df[['name','children']]

   name  children
0   Kim         2
1   Lee         1
2  Park         3

In [ ]:
df.rename(columns={'name':'이름'})

     이름  age  children
a   Kim   24         2
b   Lee   27         1
c  Park   34         3

In [ ]:
# inplace=True 옵션으로 변경사항을 바로 적용할 수 있습니다.

df.rename(columns={'name':'이름'}, inplace=True)
df

     이름  age  children
0   Kim   24         2
1   Lee   27         1
2  Park   34         3

연습문제

In [ ]:
df = pd.DataFrame([['KFC', 1000, 4.5],
                   ['McDonald', 2000, 3.9],
                   ['SchoolFood', 2500, 4.2]], columns=['food', 'price', 'rating'])
df

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [ ]:
df[['food','rating']]

         food  rating
0         KFC     4.5
1    McDonald     3.9
2  SchoolFood     4.2

In [ ]:
# rename 함수 안에 작성법 유의하기
df.rename(columns = {"food": "place"})

        place  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2